@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  animation: slide-infinite 20s linear infinite;
}

.carousel-slide {
  flex: 0 0 100%;
}

@keyframes slide-infinite {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Global styles.css */
@keyframes swipeOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.loading-screen {
  animation: swipeOut 1s forwards; /* Apply swipe-out animation */
}
